<%= form_for([@book, @book.comments.build], remote: true) do |f| %>
<p>
  <label for="review">Your
    <%= f.text_area :desc, id: "desc_comment" %>
 </p>
 <div class="actions">
  <%= f.submit %>
</div>
<% end %>
<script type="text/javascript">
 $('#desc_comment').keypress(function(e) {
  if (e.which == "13") {
    var d =  {desc: (this).value};
    $.ajax({
      url: "<%= book_comments_path(@book) %>",
      type: "POST",
      data: { comment: d}
     })
  }
});
</script>
