/* line 1, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.floatleft {
  float: left;
}

/* line 2, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.floatright {
  float: right;
}

/* line 3, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.alignleft {
  float: left;
  margin-right: 15px;
}

/* line 7, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.alignright {
  float: right;
  margin-left: 15px;
}

/* line 11, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

/* line 15, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
a:focus {
  outline: 0px solid;
}

/* line 16, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
img {
  max-width: 100%;
  max-height: 250px;
}

/* line 20, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.fix {
  overflow: hidden;
}

/* line 21, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 15px;
}

/* line 30, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
body {
  font-family: 'Titillium Web', sans-serif;
}

/* line 34, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.header-area {
  background: none repeat scroll 0 0 #f4f4f4;
}

/* line 37, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.header-area a {
  color: #888;
}

/* line 40, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.user-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/* line 45, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.user-menu li {
  display: inline-block;
}

/* line 48, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.user-menu li a {
  display: block;
  font-size: 13px;
  margin-right: 5px;
  padding: 10px;
}

/* line 54, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.user-menu li a i.fa {
  margin-right: 5px;
}

/* line 57, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.header-right ul.list-inline {
  margin: 0;
  text-align: right;
}

/* line 61, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.header-right ul.list-inline li a {
  display: block;
  padding: 9px;
}

/* line 65, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.header-right ul.list-inline li ul a {
  padding: 5px 15px;
}

/* line 68, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.header-right ul.list-inline li ul {
  border: medium none;
  border-radius: 0;
  left: 50%;
  margin-left: -50px;
  min-width: 100px;
  text-align: center;
}

/* line 77, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.mainmenu-area {
  background: none repeat scroll 0 0 #1abc9c;
  font-family: "Roboto Condensed",sans-serif;
  text-transform: uppercase;
  width: 100%;
  z-index: 999;
}

/* line 85, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.logo h1 {
  font-size: 40px;
  margin: 40px 0;
  font-weight: 400;
}

/* line 89, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.logo h1 a {
  color: #999;
}

/* line 92, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.logo h1 a:hover {
  text-decoration: none;
  opacity: .7;
}

/* line 93, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.logo h1 a span {
  color: #1abc9c;
}

/* line 96, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.shopping-item {
  border: 1px solid #ddd;
  float: right;
  font-size: 18px;
  margin-top: 40px;
  padding: 10px;
  position: relative;
}

/* line 104, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.shopping-item a {
  color: #666;
}

/* line 107, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cart-amunt {
  color: #1abc9c;
  font-weight: 700;
}

/* line 111, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-count {
  background: none repeat scroll 0 0 #1abc9c;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  height: 20px;
  padding-top: 2px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 20px;
}

/* line 125, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.shopping-item i.fa {
  margin-left: 15px;
}

/* line 130, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.shopping-item:hover {
  background: none repeat scroll 0 0 #1abc9c;
  border-color: #1abc9c;
}

/* line 134, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.shopping-item:hover a {
  color: #fff;
  text-decoration: none;
}

/* line 137, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.shopping-item:hover .cart-amunt {
  color: #fff;
}

/* line 140, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.shopping-item:hover .product-count {
  background: none repeat scroll 0 0 #000;
}

/* line 145, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.mainmenu-area ul.navbar-nav li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}

/* line 152, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {
  background: #222;
}

/* line 153, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.mainmenu-area .nav > li > a:focus {
  color: #000;
}

/* line 155, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slider-area {
  clear: both;
}

/* line 156, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slider-area, .promo-area, .brands-area, .maincontent-area, .footer-top-area, .product-widget-area, .product-breadcroumb-area, .single-product-area {
  position: relative;
  overflow: hidden;
}

/* line 158, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-text-wrapper {
  height: 700px;
}

/* line 161, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-text-wrapper {
  display: table;
  width: 100%;
}

/* line 165, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-text {
  display: table-cell;
  vertical-align: middle;
}

/* line 167, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.zigzag-bottom {
  background: none repeat scroll 0 0 #1abc9c;
  bottom: -80px;
  height: 165px;
  left: -5%;
  position: absolute;
  transform: rotate(3deg);
  width: 108%;
  z-index: 9;
}

/* line 178, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
}

/* line 185, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-bg:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 195, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-one {
  background-image: url(img/slide-1.jpg);
}

/* line 196, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-two {
  background-image: url(img/slide-2.jpg);
}

/* line 197, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-three {
  background-image: url(img/slide-3.jpg);
}

/* line 198, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-text {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}

/* line 199, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-text h2 {
  font-size: 45px;
  font-weight: 200;
}

/* line 203, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-content {
  position: relative;
  z-index: 9;
  padding: 30px;
}

/* line 204, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-content:before {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* line 217, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.readmore {
  background: none repeat scroll 0 0 #1abc9c;
  color: #fff;
  border: 1px solid #1abc9c;
  display: inline-block;
  font-size: 20px;
  margin-top: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
}

/* line 229, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.readmore:hover {
  background: #222;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

/* line 232, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.promo-area {
  background: none repeat scroll 0 0 #1abc9c;
  color: #fff;
  padding: 77px 0 200px;
}

/* line 238, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.brands-area {
  background: none repeat scroll 0 0 #1abc9c;
  color: #fff;
  padding: 0px 0 200px;
}

/* line 244, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.promo-area .zigzag-bottom, .brands-area .zigzag-bottom {
  background: #fff;
}

/* line 245, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-promo {
  border: 1px solid #17a78b;
  font-size: 25px;
  font-weight: 200;
  padding: 20px 10px;
  text-align: center;
}

/* line 252, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-promo i {
  font-size: 50px;
}

/* line 256, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-promo:hover {
  color: #fff;
  background: #222;
  border-color: #222;
}

/* line 258, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.section-title {
  font-family: "Raleway",sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}

/* line 267, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-f-image {
  position: relative;
}

/* line 270, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-hover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
}

/* line 277, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-hover:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  transition: .4s;
}

/* line 287, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-hover a {
  background: none repeat scroll 0 0 #1abc9c;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  left: 10%;
  margin: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #1abc9c;
  width: 80%;
  z-index: 99;
  transition: .4s;
}

/* line 302, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-hover a:hover {
  background: #000;
  text-decoration: none;
  border-color: #444;
}

/* line 306, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-carousel-price ins {
  color: #1abc9c;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

/* line 312, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-hover a i.fa {
  margin-right: 5px;
}

/* line 315, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-hover a.add-to-cart-link {
  top: -25%;
}

/* line 316, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-hover a.view-details-link {
  bottom: -25%;
}

/* line 317, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* line 325, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product h2 a {
  color: #1abc9c;
}

/* line 328, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product p {
  color: #1abc9c;
  font-weight: 700;
}

/* line 333, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product {
  overflow: hidden;
}

/* line 337, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product:hover .product-hover a.add-to-cart-link {
  top: 30%;
}

/* line 338, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product:hover .product-hover a.view-details-link {
  bottom: 30%;
}

/* line 339, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product:hover .product-hover:after {
  left: 0;
}

/* line 342, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-carousel {
  padding-top: 40px;
}

/* line 345, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.latest-product .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 351, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.latest-product .owl-nav div, .related-products-wrapper .owl-nav div {
  border: 1px solid #1abc9c;
  color: #1abc9c;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}

/* line 358, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.latest-product .owl-nav div:hover, .brand-wrapper .owl-nav div:hover, .related-products-wrapper .owl-nav div:hover {
  color: #222;
  border-color: #222;
}

/* line 359, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.brand-list {
  padding-top: 40px;
}

/* line 360, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.brand-list .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 365, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.brand-wrapper .owl-nav div {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}

/* line 373, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.maincontent-area {
  padding-bottom: 170px;
}

/* line 375, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 40px;
}

/* line 383, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-wid-product {
  margin-bottom: 31px;
  overflow: hidden;
}

/* line 387, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-thumb {
  float: left;
  height: 90px;
  margin-right: 15px;
  width: 100px;
}

/* line 393, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-wid-product h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

/* line 397, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-wid-rating {
  color: #ffc808;
  margin-bottom: 10px;
}

/* line 401, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-wid-price ins {
  color: #1abc9c;
  font-weight: 700;
  margin-right: 10px;
  text-decoration: none;
}

/* line 407, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-wid-product h2 a {
  color: #222;
}

/* line 410, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-wid-product h2 a:hover, .single-product h2 a:hover {
  color: #1ABC9C;
}

/* line 413, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.wid-view-more {
  background: none repeat scroll 0 0 #1abc9c;
  color: #fff;
  padding: 3px 15px;
  position: absolute;
  right: 10px;
  top: 3px;
}

/* line 421, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.wid-view-more:hover {
  color: #fff;
  background-color: #222;
  text-decoration: none;
}

/* line 422, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product-widget {
  position: relative;
}

/* line 425, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-widget-area {
  padding-bottom: 150px;
  padding-top: 30px;
}

/* line 429, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-widget-area .zigzag-bottom {
  background: #333;
}

/* line 430, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-top-area .zigzag-bottom {
  background: #000;
}

/* line 431, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-top-area {
  background: none repeat scroll 0 0 #333;
  color: #999;
  padding: 35px 0 180px;
}

/* line 436, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-bottom-area {
  background: #000;
  color: #fff;
}

/* line 437, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-about-us span {
  color: #1abc9c;
}

/* line 440, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;
  color: #fff;
}

/* line 446, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-about-us h2 {
  font-weight: 200;
}

/* line 449, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-menu ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/* line 454, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-menu ul li {
  border-bottom: 1px dashed #555;
  padding: 5px 0;
}

/* line 458, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-menu a {
  display: block;
  padding: 5px 0;
  color: #999;
}

/* line 464, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-social a {
  background: none repeat scroll 0 0 #1abc9c;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 5px;
  text-align: center;
  width: 40px;
  border: 1px solid #1abc9c;
}

/* line 477, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-social a:hover {
  background-color: #222;
  border-color: #666;
}

/* line 479, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-social {
  margin-top: 20px;
}

/* line 482, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.newsletter-form input[type="email"] {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

/* line 489, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.newsletter-form input[type="submit"] {
  background: none repeat scroll 0 0 #1abc9c;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 7px 20px;
  text-transform: uppercase;
  border: 1px solid #1abc9c;
}

/* line 498, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.newsletter-form input[type="submit"]:hover {
  background: #222;
  border-color: #666;
}

/* line 499, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.newsletter-form {
  margin-top: 25px;
}

/* line 502, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
a {
  color: #1abc9c;
}

/* line 503, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
a:hover, a:focus {
  color: #17a78b;
}

/* line 504, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding-bottom: 40px;
}

/* line 511, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.slide-bulletz {
  bottom: 30px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99;
}

/* line 519, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
ol.slide-indicators {
  left: inherit;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

/* line 527, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
ol.slide-indicators li {
  background: none repeat scroll 0 0 #222;
  border: medium none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 0 0 5px;
  width: 10px;
}

/* line 537, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
ol.slide-indicators li.active {
  background: none repeat scroll 0 0 #fff;
  height: 10px;
  margin: 0 0 0 5px;
  width: 10px;
}

/* line 545, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.carousel.carousel-fade .item {
  transition: opacity 1s ease-in-out;
}

/* line 546, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 554, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.footer-card-icon {
  font-size: 30px;
  text-align: right;
}

/* line 559, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.copyright > p {
  margin: 10px 0 0;
}

/* line 563, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-big-title-area {
  background: url(img/crossword.png) repeat scroll 0 0 #1ABC9C;
}

/* line 565, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-bit-title h2 {
  font-family: raleway;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
  padding: 50px 0;
  color: #fff;
}

/* line 573, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product-area .zigzag-bottom {
  background-color: #333333;
}

/* line 575, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-product-area {
  padding: 80px 0 130px;
}

/* line 583, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.sidebar-title {
  color: #3dc6ab;
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* line 589, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-sidebar {
  margin-bottom: 50px;
}

/* line 592, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
input[type="text"], input[type="password"], input[type="email"], textarea {
  border: 1px solid #ddd;
  padding: 10px;
}

/* line 596, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
input[type="submit"], button[type=submit] {
  background: none repeat scroll 0 0 #1abc9c;
  border: medium none;
  color: #fff;
  padding: 11px 20px;
  text-transform: uppercase;
}

/* line 603, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
input[type="submit"]:hover, button[type=submit]:hover {
  background-color: #222;
}

/* line 604, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-sidebar input[type="text"] {
  margin-bottom: 10px;
  width: 100%;
}

/* line 608, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.thubmnail-recent {
  margin-bottom: 30px;
  overflow: hidden;
}

/* line 612, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.recent-thumb {
  float: left;
  height: auto;
  margin-right: 15px;
  width: 63px;
}

/* line 618, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.thubmnail-recent > h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 622, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.thubmnail-recent > h2 a {
  color: #222;
}

/* line 625, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-sidebar-price > ins {
  color: #1abc9c;
  font-weight: 700;
  margin-right: 10px;
  text-decoration: none;
}

/* line 631, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-sidebar > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/* line 636, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-sidebar li {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
}

/* line 640, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-sidebar a {
  display: block;
}

/* line 643, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-breadcroumb {
  margin-bottom: 20px;
}

/* line 646, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-breadcroumb > a {
  margin-right: 31px;
  position: relative;
}

/* line 650, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-breadcroumb > a::before {
  content: "/";
  position: absolute;
  right: -20px;
  top: 2px;
}

/* line 656, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-breadcroumb > a:last-child::before {
  display: none;
}

/* line 659, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-main-img {
  margin-bottom: 20px;
}

/* line 662, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-gallery {
  margin-bottom: 25px;
  margin-left: -15px;
  overflow: hidden;
}

/* line 667, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-gallery img {
  height: auto;
  margin-left: 15px;
  width: 76px;
}

/* line 672, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-name {
  font-size: 25px;
  margin-bottom: 20px;
}

/* line 676, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-inner-price {
  margin-bottom: 25px;
}

/* line 679, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-inner-price > ins {
  color: #1abc9c;
  font-weight: 700;
  margin-right: 10px;
  text-decoration: none;
}

/* line 685, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.quantity {
  float: left;
  margin-right: 15px;
}

/* line 689, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.quantity input[type="number"] {
  border: 1px solid #1abc9c;
  padding: 5px;
  width: 50px;
}

/* line 694, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.add_to_cart_button {
  background: none repeat scroll 0 0 #1abc9c;
  border: medium none;
  color: #fff;
  padding: 6px 25px;
  display: inline-block;
}

/* line 700, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.add_to_cart_button:hover {
  background-color: #222;
  color: #fff;
  text-decoration: none;
}

/* line 701, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
form.cart {
  margin-bottom: 25px;
}

/* line 704, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-inner-category {
  margin-bottom: 30px;
}

/* line 707, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-tab {
  border-bottom: 1px solid #ddd;
  list-style: outside none none;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

/* line 714, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-tab li {
  display: inline-block;
}

/* line 717, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-tab li.active {
  background: none repeat scroll 0 0 #1abc9c;
}

/* line 720, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-tab li.active a {
  color: #fff;
}

/* line 723, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-tab li a {
  color: #222;
  display: block;
  font-size: 16px;
  padding: 10px 30px;
}

/* line 729, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-tab li a:hover {
  text-decoration: none;
}

/* line 732, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-tab li a:focus {
  text-decoration: none;
}

/* line 735, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.tab-content h2 {
  font-size: 20px;
}

/* line 738, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.tab-content {
  margin-bottom: 30px;
}

/* line 741, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.submit-review label {
  display: block;
}

/* line 744, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
  margin-bottom: 20px;
  width: 100%;
}

/* line 748, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.rating-chooser {
  margin-bottom: 30px;
}

/* line 751, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.rating-chooser p {
  font-weight: 700;
}

/* line 754, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.rating-wrap-post {
  font-size: 20px;
}

/* line 758, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.submit-review textarea {
  height: 105px;
}

/* line 762, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.related-products-wrapper {
  margin-top: 30px;
}

/* line 765, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.related-products-title {
  color: #3dc6ab;
  font-size: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* line 770, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.related-products-wrapper .owl-nav {
  position: absolute;
  right: 0;
  top: -56px;
}

/* line 778, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
table.shop_table {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 50px;
  width: 100%;
}

/* line 784, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
table.shop_table th, table.shop_table td {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

/* line 790, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
table.shop_table th {
  background: none repeat scroll 0 0 #f4f4f4;
  font-size: 15px;
  text-transform: uppercase;
}

/* line 795, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
td.product-thumbnail img {
  height: auto;
  width: 70px;
}

/* line 799, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
td.product-name {
  font-size: 18px;
}

/* line 802, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.quantity input.plus, div.quantity input.minus {
  background: none repeat scroll 0 0 #1abc9c;
  border: medium none;
  color: #fff;
  height: 25px;
  line-height: 15px;
  width: 25px;
}

/* line 810, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
td.product-quantity div.quantity {
  float: none;
  margin: 0;
}

/* line 814, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
td.actions div.coupon {
  float: left;
}

/* line 817, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cart-collaterals {
  overflow: hidden;
}

/* line 820, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cross-sells {
  float: left;
  margin-right: 3%;
  width: 57%;
}

/* line 825, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cart_totals {
  float: right;
  margin-bottom: 50px;
  width: 40%;
}

/* line 830, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cart-collaterals h2 {
  color: #1abc9c;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

/* line 836, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products {
  list-style: outside none none;
  margin: 0 0 0 -30px;
  padding: 0;
}

/* line 841, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products li.product {
  float: left;
  margin-left: 30px;
  position: relative;
  width: 198px;
}

/* line 847, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cart_totals table {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 100%;
}

/* line 852, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cart_totals table th, .cart_totals table td {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 10px;
}

/* line 857, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cart_totals table th {
  background: none repeat scroll 0 0 #f4f4f4;
}

/* line 862, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products li.product .onsale {
  background: none repeat scroll 0 0 #1abc9c;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  right: 0;
}

/* line 869, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products li.product h3 {
  color: #333;
  font-size: 20px;
  margin-top: 15px;
}

/* line 874, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products li.product .price {
  color: #333;
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}

/* line 882, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products li.product .price ins {
  color: #1abc9c;
  font-weight: 700;
  margin-left: 10px;
  text-decoration: none;
}

/* line 891, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.woocommerce-info {
  background: none repeat scroll 0 0 #f4f4f4;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 15px;
}

/* line 897, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.col2-set {
  margin-left: -30px;
  overflow: hidden;
}

/* line 901, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.col-1, .col-2 {
  float: left;
  margin-left: 30px;
  width: 360px;
}

/* line 906, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#customer_details label {
  display: block;
  margin: 0 0 5px;
}

/* line 910, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#customer_details input[type="text"], #customer_details textarea, .shipping_calculator input[type=text] {
  margin-bottom: 10px;
  width: 100%;
}

/* line 914, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#customer_details h3 {
  color: #1abc9c;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 919, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.create-account {
  background: none repeat scroll 0 0 #f4f4f4;
  margin-bottom: 50px;
  padding: 15px;
}

/* line 924, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#order_review_heading {
  color: #1abc9c;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 929, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#payment ul.payment_methods {
  list-style: outside none none;
  margin: 0 0 30px;
  padding: 0;
}

/* line 934, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#payment ul.payment_methods li {
  margin-bottom: 15px;
}

/* line 937, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
a.about_paypal {
  font-size: 12px;
  margin-left: 15px;
}

/* line 943, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#customer_details select, .shipping_calculator select {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

/* line 951, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
table.shop_table td.product-remove a {
  display: inline-block;
  padding: 0 5px 2px;
  text-transform: uppercase;
}

/* line 958, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
table.shop_table td.product-remove a:hover {
  color: #fff;
  background: red;
  text-decoration: none;
}

/* line 959, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
table.shop_table td.product-name a {
  color: #222;
}

/* line 960, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
table.shop_table td.product-name a:hover {
  color: #1ABC9C;
  text-decoration: none;
}

/* line 961, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.quantity input.plus:hover, div.quantity input.minus:hover {
  background-color: #222;
}

/* line 962, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products li.product a:hover h3 {
  color: #1ABC9C;
}

/* line 963, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products li.product a:hover {
  text-decoration: none;
}

/* line 965, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
div.cart-collaterals ul.products li.product:hover .add_to_cart_button {
  background-color: #222;
}

/* line 968, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.cart-collaterals .shipping_calculator {
  float: right;
  width: 40%;
}

/* line 974, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#login-form-wrap, #coupon-collapse-wrap {
  background: none repeat scroll 0 0 #f4f4f4;
  margin-bottom: 30px;
  padding: 25px;
}

/* line 979, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#login-form-wrap label {
  display: block;
  margin-bottom: 5px;
}

/* line 983, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#login-form-wrap input[type="text"], #login-form-wrap input[type="password"] {
  margin-bottom: 10px;
  width: 250px;
}

/* line 987, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
#login-form-wrap input[type="submit"] {
  margin-bottom: 15px;
}

/* line 993, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-shop-product h2 {
  font-size: 20px;
  margin: 10px 0;
}

/* line 997, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.product-option-shop {
  margin-top: 15px;
}

/* line 1001, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.single-shop-product {
  margin-bottom: 50px;
}

/* line 1003, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/books.css.scss */
.pagination > li > a, .pagination > li > span {
  color: #1abc9c;
}
/* line 1, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */

/* line 9, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 24, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 28, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 44, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/pdkpro/Desktop/RubyProject/BookStore_ruby/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

