
<div class="single-product-area">
  <div class="container">
    <div class="row">
      <% @books.each do |book| %>
      <%= render partial: "signle_book", locals: { book: book } %>
      <% end %>
    </div>
    <div class="digg_pagination text-center" >
      <%= will_paginate @books %>
    </div>
  </div>
</div>
<%= link_to 'New Book', new_book_path %>

