<div role="tabpanel" class="tab-pane text-center" id="forget_password">
  &nbsp;&nbsp;
  <span id="reset_fail" class="response_error" style="display: none;"></span>
  <div class="clearfix"></div>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-user"></i></div>
        <input type="text" class="form-control" id="femail" placeholder="Email">
      </div>
      <span class="help-block has-error" data-error='0' id="femail-error"></span>
    </div>

    <button type="button" id="reset_btn" class="btn btn-primary btn-block" data-loading-text="Please wait....">Forget Password</button>
    <div class="clearfix"></div>
    <div class="login-modal-footer">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <i class="fa fa-lock"></i>
          <a href="javascript:;" class="signin-tab"> Sign In </a>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <i class="fa fa-check"></i>
          <a href="javascript:;" class="signup-tab"> Sign Up </a>
        </div>
      </div>
    </div>
  </form>
</div>
