<div role="tabpanel" class="tab-pane active text-center" id="home">
  &nbsp;&nbsp;
  <span id="login_fail" class="response_error" style="display: none;">Loggin failed, please try again.</span>

  <div class="clearfix"></div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-user"></i></div>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
    </div>
    <span class="help-block has-error" id="email-error"></span>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-lock"></i></div>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
    </div>
    <span class="help-block has-error" id="password-error"></span>
  </div>
  <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
  <div class="clearfix"></div>
  <div class="login-modal-footer">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8">
        <i class="fa fa-lock"></i>
        <a href="javascript:;" class="forgetpass-tab"> Forgot password? </a>

      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
        <i class="fa fa-check"></i>
        <a href="javascript:;" class="signup-tab"> Sign Up </a>
      </div>
    </div>
  </div>
  <% end %>
</div>
