<!-- -Login Modal -->
<div class="modal fade" id="login_form" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4><span class="glyphicon glyphicon-lock"></span> User Authenticate</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div role="tabpanel" class="login-tab">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a id="signin-taba" href="#home" aria-controls="home" role="tab" data-toggle="tab">Sign In</a></li>
              <li role="presentation"><a id="signup-taba" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li>
              <li role="presentation"><a id="forgetpass-taba" href="#forget_password" aria-controls="forget_password" role="tab" data-toggle="tab">Forget Password</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <%= render 'layouts/user_session/sign_in' %>
              <%= render 'layouts/user_session/sign_up' %>
              <%= render 'layouts/user_session/forgot_password' %>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- - Login Model Ends Here -->

<div class="modal fade" id="myodal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(document).on('click','.signup-tab',function(e){
      e.preventDefault();
      $('#signup-taba').tab('show');
    });

    $(document).on('click','.signin-tab',function(e){
      e.preventDefault();
      $('#signin-taba').tab('show');
    });

    $(document).on('click','.forgetpass-tab',function(e){
      e.preventDefault();
      $('#forgetpass-taba').tab('show');
    });

    $(window).load(function(){
        $('#myModal').modal('show');
    });

  });
</script>
