.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #1abc9c;
    text-transform: uppercase;
    color: #1abc9c;
    font-size: 20px;
    margin-bottom: 40px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-google {
    background-color: #c32f10;
}

.btn-social {
    color: white;
    opacity: 0.8;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

